
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
*{
    
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
    
}

h1{
    font-family: 'Monoton', cursive;
    font-weight: lighter;
    text-align: center;
    font-size: 3em;
}

body{
    background: url(../images/mario-bros.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 4cm;
    
}

.main{
    display: flex;
    justify-content: center;
    margin: 50px; 
    align-content: space-around;   
}

.main-images{
    margin-right: 50px;
    display: flex;
    align-items: center;
   
}

.main-info{
    
    margin-left: 20px;
    width: 300px;
    font-size: small;
}

.btn{
    max-height: 2.5em;
    border: none;
    padding: .75em 1,25em;
    font-family: inherit;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: #B90084 ;
}

.description{
    max-width: 800px;
    margin: 0 auto;
    clear: both;
    font-size: 0.7em;
    padding: .75em .5em 1.5em .5em;

}
.container::after{
    content: "";
    display: block;
    clear: both;
}

.testimonials{
    display: flex;
    justify-content: space-around;
    width: 800px;
    margin: 0 auto;
    padding: 1em 0;
    font-size: 1.1em;
    background-color:#f7f7f7;
    
    
}

.testimonial-text{
    float: left;
    width: 75%;
    padding-left: 1em;

}

.testimonial{
    margin: .75em;
    padding: 1em;
}

.testimonial-image{
    padding: 20px;
    display: flex;
    align-self: flex-end;
    
}

.nav{
    margin: auto;
    width: 800px;
    height: 80px;
    background-color: teal;
    padding: 0;
        
}

.nav-option{
    width: 200px;
    height: 80px;
    float: left;
    list-style: none;
    font-size: .8em;
    text-align: center;
    transition: height .4s , padding-top .4s;
       
}


.nav-option:hover{
    height: 90px;
    padding-top: .7em;
    
    
}
.nav-option:hover .icon{
    box-shadow: 0px 0px 0px 0px rgba(255,255,255, 0.7);
}

.uno{
    background-color: #DDE663;
    
}
.dos{
    background-color: #E01180;
    
}
.tres{
    background-color: #D6392A;
    
}
.cuatro{
    background-color: #B5102B;
    
}

.icon{
    display: block;
    margin: 5px auto;
    background-color:rgba(255,255,255 , .20);
    width: 40px;
    padding: 4px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 10px rgba(255,255,255, 0);
    transition: box-shadow .6s ;
}

.container{
    width: 800px;
    margin: 0 auto;
}

.product-version-title{
    margin-top: 20px;
    background: rgba(23,235,196,0.2);
    padding: 0.5em;
    text-align: center;
    border-radius: 10px;
    
}
.container2{
    margin: 40px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}

.product-versions{
    padding: 1em 0;
    width: 800px;
    margin: 0 auto;

}

.product-version{
    float: left;
    width: 50%;
    text-align: center;

}

.version-title{
    padding: .75em 0;
    font-size: 1.2em;
}

.version-price{
    padding: .75em 0;
    font-size: 2em;
    margin-block-start: 0.7em;
    margin-block-end: 0.7em;
    
}

.version-item{
    width: 100%;
    padding: .5em 0;
    font-size: 0.8em;
}

.version-item:last-child{
    border-bottom: 0;
}

.btn-plain{
    padding: .5em;
    border-radius: 6px;
}

.social-main{
    width: 200px;
    margin: 0 auto;
}
.social{
    
    display: flex;
    justify-content: space-around;
}

.footer{
    padding: 1em 0;
    text-align: center;
   

}

.footer-links{
    margin-bottom: .7em;
    font-size: 0.9em;
}

.footer-link{
    margin: 0 .5em;
    text-decoration: none;
    color: black;
}

.copyright{
    font-size: 0.8em;
    font-weight: lighter;
}


